body {
}

#calendar-view {
  width: 900px;
  margin: 0 auto;
  font-size: 13px;
  line-height: 18px;
}

.navbar .info {
  padding: 10px 20px;
  display: block;
}

.adsense {
  margin: 0 auto;
  text-align: center;
  float: right;
  margin-top: 0.7em;
}

#add-transaction fieldset {
  margin: 1em;
}

span#add-transaction-title {
  font-weight: bold;
}